# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Custom config file, to avoid the deploy of the API Key in a public repository
config.js

# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules

.DS_Store
.rebooted
*.sublime-project
*.sublime-workspace
.idea
